.main-container {
  /* width: Fixed (486px);
  height: Hug (408px); */
  top: 111px;
  left: 120px;
  gap: 12px;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 486px;
  height: 27px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fdc435;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card {
  width: Hug (486px);
  height: Hug (369px);
  gap: 32px;
}
.heading {
  width: 486px;
  height: 154px;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
}
.description {
  width: 486px;
  height: 108px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.buttons-contianer {
  width: Hug (244px);
  height: Hug (43px);
  gap: 12px;
}
.project-button {
  border-radius: 8px;
  background: #fdc435;
  margin-right: 10px;
  padding: 10px 25px;
  cursor: pointer;
}
.LinkedIn-button {
  padding: 10px 25px;
  border-radius: 8px;
  border: 2px solid #25282b;
  cursor: pointer;
}
.images-container {
  /* display: flex; */
  width: 720px;
  height: 629px;
  left: 720px;
}
.background-image {
  /* margin-top: -55px;
  margin-left: 300px; */
  width: 777px;
  height: 877px;
  top: -50px;
  right: 10px;
  position: absolute;
}
.profile-image {
  /* margin-left: -700px; */
  width: 777px;
  height: 877px;
  top: -50px;
  right: 10px;
  position: absolute;
}
