.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav {
  position: relative;
  z-index: 20;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.header-logo-name {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
