.pl-footer-container {
  width: Hug (275px);
  height: Hug (102px);
  top: 2817px;
  left: 600px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.icons-container {
  width: Hug (192px);
  height: Hug (48px);
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.pl-footer-description {
  width: 275px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  margin-top: 0;
}
.social-logo {
  width: 48px;
  height: 48px;
}
